@use "variables" as *;

@mixin cajas-incio () {
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px #0006;
}

@mixin Cuerpos () {
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat" "sans-serif";
    background-color: $color-fondo;
    color: $text-color;
    display: flex;
    flex-direction: column; 
}