.wrapper .tecnicas-title, .wrapper .wrapper-2, .ppal .ppal__title, .ppal .ppal__tecnicos .ppal__tecnico-title, .ppal .ppal__espiritu .ppal__espiritu-title, .ppal .ppal__tecnicos, .ppal .ppal__espiritu, .presenta, .intro, .founder, .pilares {
  margin: 20px;
  padding: 20px;
}

.ppal .ppal__tecnicos, .ppal .ppal__espiritu, .presenta, .intro, .founder, .pilares {
  background-color: rgba(255, 255, 255, 0.8666666667);
  color: #18233f;
  border: 2px solid #18233f;
  border-radius: 8px;
}

.presenta, .intro, .founder, .pilares {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}

.ppal .ppal__espiritu .ppal__espiritu-container .ppal__espiritu-entrenamiento, .ppal .ppal__espiritu .ppal__espiritu-container .ppal__espiritu-armas, .ppal .ppal__espiritu .ppal__espiritu-container .ppal__espiritu-tecnica {
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.8666666667);
  border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.barranav {
  background-color: #18233f;
  color: rgba(255, 255, 255, 0.8666666667);
}

body {
  min-height: 100vh;
  font-family: "Montserrat", "sans-serif";
  background-color: #94a5b4;
  color: #18233f;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding: 60px;
  text-align: center;
  background-color: #18233f;
  color: rgba(255, 255, 255, 0.8666666667);
  font-size: 22px;
}

.presenta .kanji {
  width: 200px;
}
.presenta h1 {
  justify-content: center;
  font-size: 3.5rem;
}

.founder .o-sensei {
  min-width: 200px;
  max-width: 60%;
  align-self: center;
  border-radius: 50%;
}
.founder .founder__description {
  text-align: justify;
}

.ppal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  container-name: ppal;
  container-type: inline-size;
  align-items: center;
}
.ppal .ppal__tecnicos .ppal__fundamentos-container {
  display: grid;
  width: 80vw;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "ikkio shihonage" "iriminage kotegaeshi";
  justify-content: center;
  grid-row: wrap;
}
.ppal .ppal__tecnicos .ppal__fundamentos-ikkio {
  grid-area: ikkio;
}
.ppal .ppal__tecnicos .ppal__fundamentos-shihonage {
  grid-area: shihonage;
}
.ppal .ppal__tecnicos .ppal__fundamentos-kotegaeshi {
  grid-area: kotegaeshi;
}
.ppal .ppal__tecnicos .ppal__fundamentos-iriminge {
  grid-area: iriminage;
}
.ppal .ppal__tecnicos .ppal__fundamentos-img {
  object-fit: contain;
  width: 100%;
  height: 80%;
  max-width: 80vw;
  min-height: 0;
}
.ppal .ppal__espiritu .ppal__espiritu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.ppal .ppal__espiritu .ppal__espiritu-container img {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.8666666667);
  border-radius: 2px;
}

@container ppal (max-width:600px) {
  .ppal__fundamentos-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "ikkio" "shihonage" "iriminage" "kotegaeshi";
  }
  .ppal__fundamentos-ikkio {
    grid-area: ikkio;
  }
  .ppal__fundamentos-shihonage {
    grid-area: shihonage;
  }
  .ppal__fundamentos-kotegaeshi {
    grid-area: kotegaeshi;
  }
  .ppal__fundamentos-iriminge {
    grid-area: iriminage;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.wrapper .wrapper-2 {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  container-name: form;
  container-type: inline-size;
}
.form .form__title {
  font-size: 3rem;
}
.form .form__form {
  padding: 12px;
  max-width: 700px;
  width: 100%;
  display: grid;
}
.form input,
.form textarea {
  width: 100%;
  padding: 9px;
  font-size: 16px;
  margin: 4px;
  border: none;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.2);
}
.form textarea {
  resize: none;
  min-height: 120px;
  font-family: inherit;
}
.form input[type=submit] {
  padding: 6px;
  background-color: #18233f;
  color: #fff;
}

/*---------CONTACT QUERIES---------------*/
@container form (min-width:700px) {
  .form__form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name lastname" "email email" "message message" "input input";
    gap: 12px;
    background-image: radial-gradient(rgba(24, 35, 63, 0.0235294118), rgba(24, 35, 63, 0.1333333333));
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
  }
  .form__input-container:first-child {
    grid-area: name;
  }
  .form__input-container:nth-child(2) {
    grid-area: lastname;
  }
  .form__input-container:nth-child(3) {
    grid-area: email;
  }
  .form__input-container:nth-child(4) {
    grid-area: message;
  }
  .form__input-container:nth-child(5) {
    grid-area: input;
  }
  .form__input-container :is(input, textarea) {
    box-shadow: none;
    border-radius: 4px;
  }
}

/*# sourceMappingURL=styles.css.map */
