// Variables

    $primary-color: #18233f;
    $secondary-color: #fffd;
    $color-fondo: #94a5b4;
    $text-color: #18233f;
    $primary-color06: #18233f06;
    $primary-color22: #18233f22;
    $font-family: "Montserrat", "sans-serif";
    $margin-20: 20px;
    $padding-20: 20px;
    $border-radius-8: 8px;
    